#myPopup {
	position: absolute;
	background-color: #CCCCCC;
	box-shadow: 5px 5px 3px #888888;
	z-index: 10;
	color:#000000;
}
#myArrow {
	width:0;
	height:0;
	border-top: 140px solid #fcf921;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
}

#popupHint {
	position: relative;
	top: 0px;
	left: 10px;
	font-weight: 800;
	letter-spacing: 1.5px
}

#tags {
	position: relative;
	left: 10px;
	font-weight: 700;
}
