<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}

<div class="jumbotron">
  <div class="container">
    {% if saved %}
      <h2>Successfully saved!</h2>
      <a href="{% url 'SaveEntry' %}" class="btn btn-primary btn-md" role="button">Input again!</a>
    {% else %}
      <h2>You select valued information, we save into mindmaps</h1>
      <h4>Input the text content, your comment, and the topic below. And we will the do the rest for you!</h2>
      <br>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_selection.as_p }}
          {{ user_comment.as_p }}
          <input type="submit" class="btn btn-primary btn-md" value="Save">
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
