<!DOCTYPE html>
{% extends 'base.html' %}

{% block body_block %}
<div class="jumbotron">
  <h2> We keep all valued information for you!</h2>
</div>
<div class="container">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <tr class="bg-warning">
        <th>Valued information</th>
        <th>Your comment</th>
      </tr>
    </thead>
    <tbody>
      {% for item in selections %}
      <tr>
        <td>{{ item.selection }}</td>
        <td>{{ item.user_comment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>



{% endblock %}
